
*{
    box-sizing: border-box;
    margin: 0px;
}
#p1 { 
    background-color: pink;
    float: right;
}
#p2 { 
    background-color: #D8272b ;
    float: right;

}
#p3 { 
    background-color:khaki;
    float: right;
    
}
div {
    background-color: gray;
    border: 1px solid black;
    width: 200%;
    height: 200px;
    font-family:cursive;
    padding-top: 50px;
    padding-left: 20px;
    margin: 30px;
}
p {
   font-weight: bold ;
   font-size: 20px;
   width: 100px;
   height: 30px;
   text-align: center;
   border: 2px solid black;

}

h2 {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}


